.navbar-inverse {
	background-color: #4D5B66;
}

span.title,.navbar-inverse .navbar-brand {
	text-shadow: 0 1px 1px #000;
	color: #FFF;
	font-weight: bold;
}

.container-fluid {
	position: absolute;
	top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}